/* Define color variables */
:root {
    --primary-color: #008cba;
    --primary-color-hover: #005f8a;
    --background-color: #f0f0f0;
    --text-color: #333;
    --border-color: #ddd;
    --font-family: "Arial";
}

/* Root style */
.root {
    -fx-font-family: var(--font-family);
    -fx-background-color: var(--background-color);
}

/* Button style */
.button {
    -fx-background-color: var(--primary-color);
    -fx-text-fill: white;
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: var(--primary-color-hover);
}

/* ListView style */
.list-view {
    -fx-border-color: var(--border-color);
    -fx-background-color: white;
    -fx-padding: 5;
}

/* Label style */
.label {
    -fx-font-weight: bold;
    -fx-text-fill: var(--text-color);
}

/* TextField style */
.text-field {
    -fx-border-color: var(--border-color);
    -fx-background-color: white;
}

/* TextArea style */
.text-area {
    -fx-border-color: var(--border-color);
    -fx-background-color: white;
}

/* DatePicker style */
.date-picker {
    -fx-border-color: var(--border-color);
    -fx-background-color: white;
}
