
.root {
    -fx-background-color: #000000;
    -fx-text-fill: #00FF00;
    -fx-font-size: 13px;
    -fx-font-family: "Arial Black";
}


.label {
    -fx-text-fill: #00FF00;
    -fx-font-size: 16px;
}


.text-field {
    -fx-background-color: grey;
    -fx-text-fill: #00FF00;
    -fx-border-color: #00FF00;
}


.text-area {
    -fx-background-color: grey;
    -fx-control-inner-background: grey !important;
    -fx-text-fill: #00FF00 !important;
    -fx-border-color: #00FF00;
    -fx-background-insets: 0;
}


.text-area:focused {
    -fx-background-color: grey;
    -fx-control-inner-background: grey;
}


.text-area:hover {
    -fx-background-color: grey !important;
    -fx-control-inner-background: grey;

}

.button:hover {
    -fx-font-size: 15px;
    }


.date-picker {
    -fx-background-color: #000000;
    -fx-text-fill: #00FF00;
    -fx-border-color: #00FF00;
    -fx-highlight-fill: #00FF00;
    -fx-highlight-text-fill: #000000;
}


.button {
    -fx-background-color: orange;
    -fx-text-fill: black;
    -fx-border-color: darkgrey;
}




