
.root {
    -fx-background-color: #000000;
    -fx-text-fill: #00FF00;
}


.menu-bar {
    -fx-background-color: orange;

}

.menu {
    -fx-background-color: orange;

}

.menu-item {
    -fx-background-color: orange;

}




.list-view {
    -fx-background-color: #808080;
    -fx-control-inner-background: #808080;
    -fx-text-fill: #00FF00;
    -fx-cell-text-fill: #00FF00;
}


.list-view .list-cell {
    -fx-background-color: #808080;
    -fx-text-fill: #00FF00 !important;
}


.list-view .list-cell:focused {
    -fx-background-color: #00FF00;
    -fx-text-fill: #000000 !important;
}



.button {
    -fx-background-color: #000000;
    -fx-text-fill: #00FF00;
    -fx-border-color: #00FF00;
}


.AnchorPane {
    -fx-background-color: #000000;
}


.button:hover {
    -fx-font-size: 18px;
    }